# Entornos virtuales de Python
venv/
.venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y credenciales sensibles
.env

# Archivos de configuración de editores de código e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
